DATABASE_URL=
BOAVIDA_ADMIN_USERNAME=tommaso
BOAVIDA_ADMIN_PASSWORD=
BOAVIDA_PR_USERNAME=pr.boavida
BOAVIDA_PR_PASSWORD=
# In alternativa alle password: hash PBKDF2 già generati.
BOAVIDA_ADMIN_HASH=
BOAVIDA_PR_HASH=
